* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, cyan, rgb(55, 55, 241));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
}

.container {
    margin: 10px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

#profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid cyan;
    /* add transition */
}

section h2 {
    font-size: 1.7rem;
    color: rgb(0, 149, 255);
    margin: 10px;
    text-transform: uppercase;
}

section p,
ul {
    font-size: 1rem;
    color: rgb(61, 62, 62);
    line-height: 1.5;
}

ul {
    list-style-type: none;

}

ul li {
    padding: 10px;
    background-color: #f3f4f6;
    border-radius: 15px;
    margin: 10px;
    /* transition on hover to be added */
}

ul li i {
    margin-right: 5px;
}

button {
    background: linear-gradient(to right, cyan, rgb(55, 55, 241));
    color: white;
    font-size: 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button+p {
    margin-top: 20px;
    font-size: 1rem;
}