* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
   background: linear-gradient(to right, #2c3e50, #4a4b7f);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
}

.container {
    margin: 10px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}

section {
    margin-bottom: 20px;
}

#profiles a {
        color: black;           
        text-decoration: none;
    }

    #profiles a:hover {
        color: #333;            
        text-decoration: underline; 
    }

#profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
     transition: transform 1s ease-in-out;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #305071;
   
    /* add transition */
}

#profile-picture:hover{
    transform: scale(1.2);
}

section h2 {
    font-size: 1.7rem;
    color: #2a629a;
    margin: 10px;
    text-transform: uppercase;
}

section p,
ul {
    font-size: 1rem;
    color: rgb(61, 62, 62);
    line-height: 1.5;
}

ul {
    list-style-type: none;

}

ul li {
    padding: 10px;
    background-color: #f3f4f6;
    border-radius: 15px;
    margin: 10px;
    
}
ul a{
    text-decoration: none;
    color: black;
}

ul li:hover {
    animation: pulse 2s infinite;
    
}
@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

ul li i {
    margin-right: 5px;
}

button {
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    color: white;
    font-size: 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    
}
button:hover {
    animation: colChange 3s infinite;
}

@keyframes colChange {
    0% {
        background: linear-gradient(to right, #3a7bd5, #3a6073);
    }
    50% {
        background: linear-gradient(to right, cyan, rgb(55, 55, 241));
    }
    100% {
        background: linear-gradient(to right, #43cea2, #185a9d);
    }
}


button+p {
    margin-top: 20px;
    font-size: 1rem;
}
